{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 my-5 pl-5">
    <h3 class="text-black my-5">About Page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas culpa dicta fuga ullam quis quia est cupiditate molestias, vero sapiente distinctio reiciendis explicabo doloremque, nesciunt doloribus, nostrum laborum dignissimos? Qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, itaque aliquam nemo quidem expedita eos numquam voluptates earum neque qui ipsam dolore dolores iusto obcaecati consequuntur odit asperiores rem fuga.</p>
</div>
{% endblock %}