{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 my-5 pl-5">
    <h3 class="text-black my-5">Contact Page</h3>
    <form method="get" action="">
        <label for="mobile">Mobile No. ::</label>
        <input type="text" placeholder="Enter Mobile no. or Email"><br><br>
        <div class="form-group">
            <label for="my-textarea">Text ::</label>
            <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
        </div><br><br>
        <button class="btn btn-success">Submit</button>
    </form>
    </div>
{% endblock %}