{% extends 'base.html' %}


{% block msg %}
{% if messages %}
    {% for ms in messages %}
        <div class="alert alert-{{ms.tags}} m-3">{{ms}}</div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block side %}
<div class="col-md-2 my-5 text-center">
    <h4 class="my-5">My Profile</h4>
    <h5>{{full_name}}</h5>
{% for gp in gps %}
    <p>{{gp.name}}</p>
{% endfor %}
</div>

{% endblock %}

{% block content %}
    
<div class="col-md-10">
    <a href="/blog/add" class="btn btn-success my-4 border">Add Post</a>
    <h1 class="text-center alert alert-dark p-2 ">Dash Board</h1>
   
    {% if post %}
    <table class="table table-hover table1">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col" class="pl-3">Title</th>
            <th scope="col" class="pl-5">Description</th>
            <th scope="col" class="pl-2">Action</th>
          </tr>
        </thead>
        {% for post in post %}
        <tbody>
           
          <tr>
            <th scope="row">{{post.id}}</th>
            <td>{{post.title}}</td>
            <td><div class="td_td">{{post.disc}}</div></td>
            <td>
                <a href="{% url 'update' post.id %}" class="btn btn-warning m-2 border">Edit</a>
                {% if perms.blog.delete_post %}
                <form action="{% url 'delete' post.id %}" method='POST' class="d-inline"> 
                    {% csrf_token %}
                    <button class="btn btn-danger border">Delete</button>
                    <!-- <input type="submit" class="btn btn-danger btn-sm" value="Delete"> -->
                </form>
                {% endif %}
    
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% endif %}
</div>

{% endblock %} 





